# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Project Specific Data/Logs
postgres-data/
postgres_data/
airflow/logs/
airflow/dags/__pycache__/
monitoring/grafana/data/

# OS
.DS_Store
Thumbs.db
