global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'log-notifications'

receivers:
  - name: 'log-notifications'
    # On peut ajouter ici des configurations pour Slack, Discord, Email, etc.
    # Pour l'instant, on laisse par défaut (l'alerte apparaîtra dans les logs)
