name: Big Data Platform CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Validate docker-compose config
      run: docker-compose config
      
    - name: Build custom images
      run: |
        docker build -t bigdata-producer ./producer
        docker build -t bigdata-spark ./spark
